{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include "joy/header.html" %}

 

  <!-- ======= Services Section ======= -->
  <div id="services" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Our Academy Story</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <!-- Start Left services -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-briefcase"></i>
                </a>
                <h4>Expert Coder</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-card-checklist"></i>
                </a>
                <h4>Creative Designer</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-bar-chart"></i>
                </a>
                <h4>Wordpress Developer</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-binoculars"></i>
                </a>
                <h4>Social Marketer </h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <!-- End Left services -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-brightness-high"></i>
                </a>
                <h4>Seo Expart</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <!-- End Left services -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-calendar4-week"></i>
                </a>
                <h4>24/7 Support</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Services Section -->

<section class="academics">
    <h2>Our Curriculum</h2>
    <p>We offer a dynamic curriculum designed to challenge and engage our students. From STEM subjects to the arts, we provide a well-rounded education that encourages creativity and critical thinking.</p>
    
    <h2>Extracurricular Activities</h2>
    <p>We believe in nurturing the whole child, so we offer a wide range of extracurricular activities, including sports, music, and clubs.</p>
    
    <h2>Our Teachers</h2>
    <p>Our faculty consists of experienced, caring professionals dedicated to fostering a positive and productive learning environment for every student.</p>
</section>

{% endblock %}
welcome
